body {
    font-family: 'Segoe UI';
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}


/*Colors for later
538BFF 2C13C7 36CFE2*/


/*header*/
header {
    /*background: #E4E6FF;*/
    padding: 0;
    margin: 0;
    min-height: 100px;
    border-bottom: #000000 solid;
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 100px;
}

    header a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }

    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #branding {
        margin-left: 35%;
        margin-right: 35%;
    }

        header #branding h1 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 50px;
            font-weight: lighter;
        }

    header nav {
        float: none;
        margin-top: 20px;
        height: 50px;
        margin-left: 25%;
        margin-right: 25%;
    }

    header .highlight, header .current a {
        font-weight: bold;
    }

/*nameimage*/
#nameimage {
    min-height: 800px;
    background: url('../img/img1.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

    #nameimage #name {
        padding: 330px;
    }

    #nameimage h1 {
        font-size: 70px;
    }


/*main*/
#main {
    min-height: 800px;
    text-align: center;
    /*background-color: #E4E6FF;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

    #main h1 {
        padding-top: 100px;
        padding-bottom: 20px;
        font-size: 40px;
    }

    #main h3 {
        margin-top: 100px;
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #main h4 {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #main .square {
        margin-top: 100px;
        float: left;
        width: 33%;
    }

        #main .square img {
            border-radius: 25px;
        }

#basketball {
    min-height: 800px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

    #basketball h1 {
        padding-top: 75px;
        font-size: 40px;
        padding-bottom: 50px;
    }

    #basketball .leftphoto h3 {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        font-size: 20px;
    }

    #basketball .rightphoto h3 {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        font-size: 20px;
    }

    #basketball .leftphoto img {
        float: left;
        margin-left: 10%;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #basketball .rightphoto img {
        float: right;
        margin-left: 20px;
        margin-right: 10%;
        margin-bottom: 10px;
    }

    #basketball .square {
        margin-top: 100px;
        float: left;
        width: 25%;
    }

        #basketball .square img {
            border-radius: 25px;
        }

#programming {
    min-height: 800px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}
    
    #programming h1{
        font-size: 45px;
    }

    #programming .top {
        background: #E4E6FF;
        height: 200px;
    }

    #programming .top h3{
        font-size: 60px;
        padding-top: 50px;
    }
    
    #programming .leftphoto{
        float:left;
        height: 300px;
        width: 47.5%;
    }

    #programming .rightphoto {
        float: right;
        height: 300px;
        width: 47.5%;
    }

    #programming .leftphoto h3 {
        float: left;
        text-align: left;
        font-size: 20px;
        height: 100px;
        width: 70%;
        margin-left: 25%;
    }

    #programming .leftphoto h1 {
        font-size: 30px;
        float: left;
        padding: 0;
        padding-right: 30%;
        padding-left: 55%;
    }

    #programming .rightphoto h1 {
        font-size: 30px;
        float: left;
        padding: 0;
        margin-right: 10%;
        padding-left: 30%;
        padding-right: 60%;
    }

    #programming .rightphoto h3 {
        float: left;
        text-align: left;
        font-size: 20px;
        width: 50%;
        margin-left: 10%;
    }

    #programming .leftphoto img {
        float: left;
        margin-left: 10%;
        margin-right: 50%;
        margin-bottom: 10px;
    }

    #programming .rightphoto img {
        float: right;
        margin-left: 50%;
        margin-right: 10%;
        margin-bottom: 10px;
    }

    #programming .square {
        margin-top: 50px;
        float: left;
        width: 100%;
    }

        #programming .square img {
            border-radius: 25px;
            border: solid;
        }

#about {
    min-height: 800px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

    #about h1 {
        padding-top: 75px;
        font-size: 40px;
        padding-bottom: 50px;
    }

    #about .leftphoto h3 {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        font-size: 20px;
    }

    #about .rightphoto h3 {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        font-size: 20px;
    }

    #about .leftphoto img {
        float: left;
        margin-left: 5%;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #about .rightphoto img {
        float: right;
        margin-left: 20px;
        margin-right: 10%;
        margin-bottom: 10px;
    }

    #about .square {
        margin-top: 100px;
        float: left;
        width: 25%;
    }

        #about .square img {
            border-radius: 25px;
        }